/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font imported */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    background-color: #D5E1EE;
    font-family:"Outfit", serif;
}
.container{
    width: 20rem;
    margin: 80px auto;
    background-color: white;
    padding: 20px;
    border-radius: 0.7rem;
    text-align: center;
}
.container img{
    width: 100%;
    height: auto;
    border-radius: 0.7rem;
}
.container h1{
    color: #232D4A;
    font-size: 1.4rem;
    padding: 0.6rem 0;
}
.container p{
    color: #9C9CA0;
    font-size: 1rem;
}

@media (max-width: 699px) {
    .container{
        width: 20rem;
        
        display: grid;
        place-items: center;
    }
    .container h1{
        font-size: 1.2rem;
    }
    .container p{
        font-size: 0.9rem;
    }
}